/* Container */
.container{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    float: left;
    display: block; 
    color: black; 
}
/*header*/
.head{
	width: 100;
	height: auto;
}
.head_logo{
	float: left;
	padding-bottom: 10px;
}
.nav_inlinement{
	padding: 20px 180px 25px 100px;
}
.nav_links{
	float: right;
  	display: block;
  	text-align: justify;
  	padding: 16px 16px;
  	font-size: 15px;
  	list-style-type: none;
}
.nav_links a{
	text-decoration: none;
}
/*savings*/
.savings{
	width: 100%;
	padding: 40px 280px 45px 150px;
}
.savings_header{
	font-size: 45px;
	color: rgb(1,98,81);
	padding-bottom: 45px;
}
.img_and_info{
	display: inline-block;
	width: 75%;	
/*	padding: 90px 74px 0 30px;
*/	padding: 0 0 20px 30px;
}
.info{
    width: 80%;
    float: right;
    overflow: hidden;
    text-align: justify;
    color: black;
    padding-right: 75px;
    font-size: 21px;
    clear: both;
}
/*key benefits*/
.pink_box{
	width: 30%;
	height: auto;
	display: block;
	text-align: center;
	background-color: 	rgb(156,0,89);
	overflow: auto;
	padding: 15px 7px;
	margin: 0 450px;
	color: white;
}
.benefits_content{
	display: block;
	float: left;
	width: 100%;
	color: white;
	background-color: rgb(0,134,112);
	height: auto;
	margin-bottom: 40px;
	color: white;
	padding: 40px 280px 45px 150px;
	overflow: auto;	
}
.benefits_info{
    width: 80%;
    float: right;
    overflow: hidden;
    text-align: justify;
    color: white;
    padding: 15px 75px 20px 0;
    font-size: 21px;
    clear: both;
}
/*more4u*/
.more{
	width: 75%;
	padding-top: 45px;
    padding: 150px 280px 45px 150px;
}
.logo_and_text{
	padding-top: 40px;
	color: rgb(0,134,112);
	font-size: 44px;
	text-align: center;

}
.more_heading{
	padding-bottom: 10px;
}
.more_slogen{
	padding:0 0 35px 50px;
	font-size: 20px;

}
.more4ULastStatement{
	width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	padding-top: 20px;
}
.more_info{
    width: 80%;
    float: right;
    overflow: hidden;
    text-align: justify;
    color: black;
    padding-right: 1s5px;
    font-size: 18px;
    padding-top: 30px;
    clear: both;
}
/*Footer*/
.footer{
	display: block;
 	float: left;
	width: 100%;
	background-color: rgb(0,134,112);
 	height: auto
	margin: 0;
	text-align: center;
	color: white;
	padding: 30px 70px 30px 10px;
}
.footerName{
	display: inline-block;
	height: auto;


}
.copyright{
	display: inline-block;

}
